# OS
.DS_Store

# Editors
*.swp
*~
*.bak

# Zsh artifacts
zsh/.config/zsh/.zhistory
zsh/.config/zsh/.zcompdump*
zsh/.config/zsh/.zsh_sessions/
zsh/.config/zsh/.zcompcache/
zsh/.config/zsh/wallpapers.sh

# Secrets
mailsecrets.py
__pycache__/
